---
Language: Cpp
BasedOnStyle: Mozilla
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
ColumnLimit: 120
IndentWidth: 8
SpaceBeforeParens: ControlStatements
SpacesInParentheses: true
TabWidth: 8
UseTab: ForIndentation
IncludeCategories:
  - Regex: '^"rpi\.h"'
    Priority: 0
    SortPriority: -1
...
